.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer-container-main {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-container {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
}
