:root {
--main-text-color: #757575;
--accent-color: #2196F3;
--title-color: #212121;
--dark-bg-color: #2F303A;
--bg-text-color: #FFFFFF;
--white-bg-color: #F5F4FA;
--icon-main-color: #AFB1B8;
--animation: 250ms;
--animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
