.about-us-sec {
  padding-bottom: 94px;
}

.about-us__item {
  max-width: 370px;
}

@media screen and (max-width: 1199.98px) {
  .about-us-sec {
    display: none;
  }
}

.about-us-item-cont {
  position: relative;
}

.about-us {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.about-us-item-title {
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--bg-text-color);
  position: absolute;
  bottom: 0;
  padding: 27px 0;
}
