.advantage-sec {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  max-width: 270px;
  margin-right: 30px;
  background-color: aquamarine;
}

.advantage-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-bg-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advantage-item-container__icon {
  height: 70px;
  width: 70px;
}

.list advantages .advantage-item-container:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.advantages-sub-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
