.advantage-sec {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  flex-basis: calc(
    (100% - 30px * var(--advantages__item)) / var(--advantages__item)
  );
  --advantages__item: 1;
  max-width: 270px;
  background-color: greenyellow;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    --advantages__item: 2;
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    --advantages__item: 4;
    margin-right: 30px;
  }
}


@media screen and (min-width:768px) and (max-width:1199px) {

  .advantages__item:nth-child(2) {
    margin-right: 0;
  }

  .advantages__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width:1200px) {

  .advantages__item:nth-child(4) {
    margin-right: 0;
  }

  .advantages__item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.advantage-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-bg-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advantage-item-container__icon {
  height: 70px;
  width: 70px;
}

.list advantages .advantage-item-container:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.advantages-sub-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
