.logo__studio-foot {
  color: var(--bg-text-color);
}

@media screen and (min-width: 1200px) {
  .footer-container-main {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}


@media screen and (min-width: 1200px) {
  .adress-container {
    display: flex;
    align-items: baseline;
    width: 50%;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .adress-container {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1200px) {
  .adress-container {
    margin-bottom: 60px;
  }
}

.logo-footer {
  display: inline-block;
  height: 31px;
  margin-bottom: 20px;
}

.footer-sub-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-text-color);
  margin-bottom: 20px;
}

@media screen and (max-width:1200px) {
  .footer-sub-title {
    text-align: center;
  }
}

.footer-sec {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-list__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.first-main-sec,
.footer-sec {
  background-color: var(--dark-bg-color);
}

.address {
  text-decoration: none;
  color: inherit;
  font-style: inherit;
}

.address-list__link,
.address-list__link-map {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation) var(--animation-timing-function);
}
.address-list__link-map {
  color: var(--white-bg-color);
  transition: color var(--animation) var(--animation-timing-function);
}

.address-list__link:hover,
.address-list__link:focus,
.address-list__link-map:focus,
.address-list__link-map:hover {
  color: var(--accent-color);
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.social-sec__footer-icon {
  fill: var(--bg-text-color);
  transition: fill var(--animation) var(--animation-timing-function),
    background-color var(--animation) var(--animation-timing-function);
}

.social-icons-tooter-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

@media screen and (min-width: 480px) {
  max-width: 480px;
}
