.hero-title {
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-text-color);
}

@media screen and (max-width:1199px) {
  .hero-title {
font-size: 26px;
line-height: 42px;
text-align: center;
max-width: 360px;
  }
}

.hero-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero1.jpg);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width:1199px) {
  .hero-sec {
    height: 400px;
  }
}

@media not all, (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-sec {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero.mobile@2x.jpg);
  }
}

@media not all,
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-sec {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero.tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-sec {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero.tablet.jpg);
  }
}

@media not all,
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-sec {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero.desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-sec {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero.desktop.jpg);
  }
}
